*DS_store
.idea
.vscode
*.log
/backend
/dist/
/build/
/node_modules/
/run/insights-proxy/

# No longer `git clone`d, kept here in case anyone has them checked out:
/run/cucushift/
/run/verification-tests/
/run/ocm-api-model/
/run/ocm-api-metamodel/

/run/output
/vendor/
backend-config.yml

# Cypress test artifacts
/cypress/screenshots/
/cypress/downloads/
/cypress/videos/

# Playwright test artifacts
/playwright-artifacts/
/playwright/fixtures/storageState.json
*playwright.env.json*

/coverage/
.nyc_output/out.json

.yalc
yalc.lock


*.patch

*storybook.log
/storybook-static/

openapi/*.json

.env*

/unitTestCoverage

.cache/